<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @foster_agreement.pet %>
</p>

<%= link_to 'Edit', edit_foster_agreement_path(@foster_agreement) %> |
<%= link_to 'Back', foster_agreements_path %>
